<header class="header">
  <div class="container">
    <div class="nav-wrapper">
      <div class="logo">
        <h2>ben.dev</h2>
      </div>
      <nav class="navigation">
        <a href="#home" class="nav-link">Home</a>
        <a href="#projects" class="nav-link">Projects</a>
        <a href="#about" class="nav-link">About</a>
      </nav>
      <div class="social-links">
        <a href="#" class="social-link" aria-label="Contact">
            CV <span style="margin-left: 0.5em;"><i class="fa-solid fa-download"></i></span>
        </a>
      </div>
    </div>
  </div>
</header>
